<strong>Hello {{ courierName }},</strong>
<p>Due to a delivery issue the following order has been canceled.</p>
<p>
  {{> orderInfo}}
  <br/ >
  <strong>Delivery Issue:</strong><br/ >
  <small>{{description}}</small>
</p>
